.splitpanelBTN {
  background-image: url(../img/bk/splitpanel.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}
  
.dividerBTN {
  background-image: url(../img/bk/divider.svg);
  background-size: 30px 30px;
  background-repeat: no-repeat;
}
  
.leftpanelBTN {
  background-image: url(../img/bk/leftpanel.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}
  
.rightpanelBTN {
  background-image: url(../img/bk/rightpanel.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}
  
.dogrunBTN {
  background-image: url(../img/bk/dogrun.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}
  
.arraystatusBTN {
  background-image: url(../img/bk/arraystatus.svg);
  background-size: 30px 150px;
  background-repeat: no-repeat;
}
  
.compareBTN {
  background-image: url(../img/bk/compare.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}
  
.targetBTN {
  background-image: url(../img/bk/target.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}
  
.uploadBTN {
  background-image: url(../img/bk/upglobe.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}
  
.uploaddbBTN {
  background-image: url(../img/bk/uploaddb.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}
  
.uploadfileBTN {
  background-image: url(../img/bk/uploadfile.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}
  
.unzipBTN {
  background-image: url(../img/bk/unzip.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}
  
.eraserBTN {
  background-image: url(../img/bk/eraser.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}
  
.websiteBTN {
  background-image: url(../img/bk/website.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}
  
.boneBTN {
  background-image: url(../img/bk/bone.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}
  
.downloadBTN {
  background-image: url(../img/bk/download.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}
  
.horuseyeBTN {
  background-image: url(../img/bk/horuseye.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}
  
.truckBTN {
  background-image: url(../img/bk/truck.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}
  
.filesfolderBTN {
  background-image: url(../img/bk/filesfolder.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}

.listBTN {
  background-image: url(../img/bk/list.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}

.vectordbBTN {
  background-image: url(../img/bk/vectordb.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}
  
.leftBTN {
  background-image: url(../img/bk/arrowleft.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}
  
.rightBTN {
  background-image: url(../img/bk/arrowright.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}
  
.blankBTN {
  background-image: url(../img/bk/blank.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}
  
.dbplusBTN {
  background-image: url(../img/bk/dbplus.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}
  
.dbcrossBTN {
  background-image: url(../img/bk/dbcross.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}
  
.loadrightBTN {
  background-image: url(../img/bk/loadright.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}
  
.loadleftBTN {
  background-image: url(../img/bk/loadleft.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}

.hashtagBTN {
  background-image: url(../img/bk/hashtag.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}

.objectsBTN {
  background-image: url(../img/bk/objects.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}

.shapesBTN {
  background-image: url(../img/bk/shapes.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}

.shapesstackBTN {
  background-image: url(../img/bk/shapesstack.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}

.physicsBTN {
  background-image: url(../img/bk/physics.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}

.spinnerBTN {
  background-image: url(../img/bk/spinner.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}

.fileloadBTN {
  background-image: url(../img/bk/fileload.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}

.filesaveBTN {
  background-image: url(../img/bk/filesave.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}

.printerBTN {
  background-image: url(../img/bk/printer.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}

.plotBTN {
  background-image: url(../img/bk/plot.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}

.bookBTN {
  background-image: url(../img/bk/book.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}

.pageinBTN {
  background-image: url(../img/bk/pagein.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}

.pageoutBTN {
  background-image: url(../img/bk/pageout.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}

.dbuploadBTN {
  background-image: url(../img/bk/dbupload.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}

.dbrefreshBTN {
  background-image: url(../img/bk/dbrefresh.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}

.sailboatBTN {
  background-image: url(../img/bk/sailboat.svg);
  background-size: 30px 90px;
  background-repeat: no-repeat;
}